@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-poppins);
}

:root {
  --royal-blue-light: hsl(225, 68%, 53%);
  --oxford-blue-1: hsl(218, 70%, 18%);
  --ff-poppins: "Poppins", sans-serif;
  --fs-6: 2.2rem;
  --fs-2: 8rem;
  --fw-700: 700;
  --sonic-silver: hsl(0, 0%, 47%);
  --gradient: linear-gradient(90deg,
      var(--carolina-blue) 0%,
      var(--royal-blue-light) 100%);
  --deg: -90deg;
  --carolina-blue: hsl(201, 92%, 47%);
  --white: hsl(0, 0%, 100%);
  --shadow-4: 0px 10px 30px var(--flickr-blue_30);
  --radius-4: 4px;
  --fs-7: 1.6rem;
  --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: hsl(218, 71%, 11%);
  position: sticky;
  top: 0px;
  z-index: 10;
}

.div_header {
  height: 8vh;
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 25px;
  width: 46vw;
  justify-content: space-between;
}

.navbar_list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 35vw;
}

.navbar_list li {
  color: white;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  /* background: #cfef00; */
  background: hsl(225, 68%, 53%);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:hover {
  /* background: #c4e201; */
  background: red;
}

button>svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

.main {
  height: 100vh;
  display: flex;
}

.aside {
  width: 20vw;
  height: 117vh;
  background-color: hsl(218, 71%, 11%);
  position: fixed;
  left: 0;
}

.content {
  width: 80vw;
  position: absolute;
  left: 20vw;
}

.user {
  border-radius: 50%;
  margin: 8%;
  height: 17%;
  width: 48%;
}

.adetails {
  margin: 5%;
  margin-left: 8%;
  color: white;
  font-weight: bold
}

.h3 {
  color: hsl(225, 68%, 53%);
  margin-left: 8%;
}

.verify {
  margin: 1.5%;
  /* margin-block: 15px 30px;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  /* font-weight: bold; */
  color: var(--oxford-blue-1);
  /* font-size: var(--fs-2); */
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 48px;
  margin-bottom: 65px;
}

.medi {
  color: hsl(225, 68%, 53%);
  margin-left: 2%;
  font-size: 1.3rem;
  ;
}

.mdetails {
  margin: 1%;
  margin-left: 2%;
  color: hsl(0, 0%, 47%);
  font-size: 17px
}

.n {
  margin: 4% 0% 0% 38%;
}

.form {
  margin: 15% 0% 0% 20%;
  width: 50vw;
  margin-bottom: 20px;
}

form label {
  color: hsl(0, 0%, 47%);
  margin-left: 1%;
}

.format {
  text-transform: capitalize;
}

.condition {
  margin-left: 5%;
}

.condition li {
  color: var(--sonic-silver);
}
span{
  font-weight: bold;
}