@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-poppins);
}

:root {
  --royal-blue-light: hsl(225, 68%, 53%);
  --oxford-blue-1: hsl(218, 70%, 18%);
  --ff-poppins: "Poppins", sans-serif;
  --fs-6: 2.2rem;
  --fs-2: 8rem;
  --fw-700: 700;
  --sonic-silver: hsl(0, 0%, 47%);
  --gradient: linear-gradient(
    90deg,
    var(--carolina-blue) 0%,
    var(--royal-blue-light) 100%
  );
  --deg: -90deg;
  --carolina-blue: hsl(201, 92%, 47%);
  --white: hsl(0, 0%, 100%);
  --shadow-4: 0px 10px 30px var(--flickr-blue_30);
  --radius-4: 4px;
  --fs-7: 1.6rem;
  --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: hsl(218, 71%, 11%);
  position: sticky;
  top: 0px;
  z-index: 10;
}

.div_header {
  height: 8vh;
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 46vw;
  justify-content: space-around;
}

.navbar_list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 35vw;
}

.navbar_list li {
  color: white;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  /* background: #cfef00; */
  background: red;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:hover {
  /* background: #c4e201; */
  background: red;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

.main {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55vw;
  height: 85vh;
}

.figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 35vw;
}

.img_banner {
  width: 73%;
  height: 95.5%;
}

.img-div {
  width: 9.6%;
  height: 14.2%;
}

.welcome {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  /* font-size: var(--fs-6); */
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  text-transform: uppercase;
  /* margin-block-end: 10px;
   */
}

.connect {
  margin-block: 15px 30px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: var(--oxford-blue-1);
  /* font-size: var(--fs-2); */
  font-size: 5rem;
  line-height: 1.2;
}

.text {
  /* font-size: var(--fs-6); */
  font-size: 1.5rem;
  line-height: 1.45;
  margin-block-end: 40px;
  color: var(--sonic-silver);
}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.figure2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 35vw;
  
}

.content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45vw;
  height: 85vh;
  
}

.about-us-txt {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  /* font-size: var(--fs-6); */
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  text-transform: uppercase;
  /* margin-block-end: 10px;
   */
}

.heading2 {
  font-weight: bold;
  color: var(--oxford-blue-1);
  /* font-size: var(--fs-2); */
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2%;
}

.section-text-1 {
  font-size: 1.5rem;
  line-height: 1.45;
  margin-block-end: 40px;
  color: var(--sonic-silver);
 
}

.section-text {
  font-size: 1.2rem;
  line-height: 1.45;
  margin-block-end: 40px;
  color: var(--sonic-silver);
  
}

.form-container {
  width: 60%;
  height: 60%;
  border-radius: 0.75rem;
  background-color: hsl(218, 71%, 11%);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  margin-top: 5%;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}


